@charset "utf-8";
html{height:100%;}
body{
	background:#090b44; /* Old browsers */
	background:-moz-radial-gradient(center, ellipse cover, #090b44 0%, #00001c 100%); /* FF3.6+ */
	background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#090b44), color-stop(100%,#00001c)); /* Chrome,Safari4+ */
	background:-webkit-radial-gradient(center, ellipse cover, #090b44 0%,#00001c 100%); /* Chrome10+,Safari5.1+ */
	background:-o-radial-gradient(center, ellipse cover, #090b44 0%,#00001c 100%); /* Opera 12+ */
	background:-ms-radial-gradient(center, ellipse cover, #090b44 0%,#00001c 100%); /* IE10+ */
	background:radial-gradient(ellipse at center, #090b44 0%,#00001c 100%); /* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#090b44', endColorstr='#00001c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding:0;
	text-align:center;
	font-family:'open sans';
	position:relative;
	margin:0;
	height:100%;
	padding-bottom:50px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
a{text-decoration:none;}
canvas{display:block;width:100%;height:100%;top:0;left:0;position:fixed;}
canvas.flare{opacity:0.5;}

/*//活动样式*/
	*{
		margin:0;
		padding:0;
		font-family: '微软雅黑';
	}
	.none{
		display: none;
	}
	@keyframes scale {
	    0% {
	        -webkit-transform: scale(1);
	        transform:scale(1);
	    }
	    100% {
	        -webkit-transform: scale(1.3);
	        transform:scale(1.3);
	    }
	}
	@keyframes rotate {
	    0% {
	        -webkit-transform: rotateZ(0deg);
	       	transform: rotateZ(0deg);
	    }
	    25% {
	        -webkit-transform: rotateZ(-10deg);
	       	transform: rotateZ(-10deg);
	    }
	    75% {
	        -webkit-transform: rotateZ(10deg);
	       	transform: rotateZ(10deg);
	    }
	}
	.open-btn{
		position:fixed;
		left:0%;
		bottom:10%;
		height:100px;
		width:100%;
		background:url('../images/button.png') no-repeat center center;
		background-size: contain;
		-webkit-animation: 2s scale linear infinite alternate;
		animation: 2s scale linear infinite alternate;
		cursor:pointer;
	}
	.activity-box{
		position: fixed;
		left:0;
		top:0;
		width:100%;
		height:100%;
		color:#fff;
		padding:18px;
		box-sizing: border-box;
		font-size: 14px;
		text-align: left;
	}
	.activity-title{
		font-size: 20px;
	}
	.activity-box p{
		position: relative;
		margin-left:15px;
		margin-top:8px;
	}
	.activity-box p:before{
		position:absolute;
		left:-15px;
		top:0px;
		content: "◆";
	}
	.data-show-box{
		position:fixed;
		left:0;
		top:-100%;
		width:100%;
		height:100%;
		background-color: rgba(0,0,0,0.1);
		transition:all 0.5s ease-out;
	}
	.data-show-container{
		width:200px;
		height:140px;
		background-color:#e6212a;
		position: absolute;
		left:50%;
		top:20%;
		margin-left:-100px;
		background-size: contain;
		border-radius:10px;
	}
	.data-line{
		width:2px;
		background-color:#e6212a;
		margin:0 auto;
		height:20%;
	}
	.holiday{
		position: absolute;
		top:140px;
		width:50px;
		height:200px;
		background:url(../images/small.png) no-repeat left top;
		background-size: 100px auto;
		transform-origin: top center;
	    -webkit-transform-origin: top center;
	    -webkit-animation: 7s rotate linear infinite;
		animation: 7s rotate linear infinite;
	}
	.data-txt{
		padding:20px 10px;
		text-align: left;
		color:#fff;
		font-weight: bold;
		text-shadow: 3px 3px 5px #311010;
	}
	.zhongqiu{
		left:0;
	}
	.guoqin{
		right:0;
		background:url(../images/small.png) no-repeat right top;
		background-size: 100px auto;
	}
	.btn-all{
		text-align: center;
	}
	.btn-reverse,.btn-redPack{
		border:0;
		display: inline-block;
		height:35px;
		width:70px;
		text-align: center;
		border-radius: 3px;
		line-height: 35px;
		background-color: #ffbc00;
		box-shadow: 0 0 5px #888;
		color:#f00;
		font-size: 14px;
		outline: none;
	}
	.btn-redPack{
		margin-left:25px;
	}
	.point-box{
		position: fixed;
		z-index: 999;
		left:10px;
		top:10px;
		color:#fff;
	}
	.trans{
		top:0%;
	}