<!DOCTYPE html><html>
<!--代码由www.magicalcoder.com可视化布局器拖拽生成 资源请自行下载到本地-->
<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>element-由www.magicalcoder.com可视化布局器生成</title>
<link href="https://lib.baomitu.com/element-ui/2.10.1/theme-chalk/index.css" rel="stylesheet"/>
<link href="http://lowcode.magicalcoder.com/magicalcoder/assets/drag/ui/magicalcoder/1.1.0/magicalcoder.css" rel="stylesheet"/>
<!-- 如果要兼容ie8及以前版本 请打开注释--> <!-- <script src="http://www.magicalcoder.com/assets/ui/element/2.10.1/browser.min.js"></script><script src="http://www.magicalcoder.com/assets/ui/element/2.10.1/browser-polyfill.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.3/json3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.6.0/echarts.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.6.0/extension/dataTool.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="https://lib.baomitu.com/element-ui/2.10.1/index.js"></script>
<script src="http://www.magicalcoder.com/assets/js/common.js"></script>
<script src="http://lowcode.magicalcoder.com/magicalcoder/assets/drag/ui/magicalcoder/1.1.0/magicalcoder.js"></script>
<style>

</style>

</head>
<body style="">
<div id="magicalDragScene" class="mc-root" style="height: 1000px;" mcnetline="0" mcstyle="ab-unit:%;ab-unit-left:%;ab-unit-top:%" v-if="true"><template>
	<el-card header="在线">
		<el-alert title="仅供学习！请不要随意使用！任何行为和开发者无关！" type="error" center description="xxx" show-icon effect="dark">警告</el-alert>
	</el-card>
	<el-card header="短信轰炸">
		<el-form label-width="100px">
			<el-form-item label="请输入KEY" required :show-message="false">
				<el-input v-model="input" placeholder="key需要购买" mc-db-type-v-model="int" autosize type="text" clearable></el-input>
			</el-form-item>
			<el-form-item id="uuid5198615c-c9c9-4efa-971c-5d888aaf4f58" label="请输入电话" required :show-message="false">
				<el-input v-model="input" placeholder="电话号码" mc-db-type-v-model="int" autosize type="text" clearable></el-input>
			</el-form-item>
			<el-form-item id="uuidf709d96c-b59e-439e-ab2d-b5c88d406b2c" label="间隔时间秒" required :show-message="false">
				<el-slider v-model="slider" :min="1" :max="10" :step="1" show-stops :show-tooltip="true"></el-slider>
			</el-form-item>
			<el-form-item id="uuid5852be24-f70b-4340-b336-00d3c6b0a928" label="轰炸总数" required :show-message="false">
				<el-input v-model="input" placeholder="请输入内容" mc-db-type-v-model="int" autosize type="text" clearable></el-input>
			</el-form-item>
			<el-form-item label-width="98px">
				<el-button type="primary">开始</el-button>
				<el-button id="uuid86af54c0-3e30-4efe-adeb-7886d5474f99" type="success">购买KEY</el-button>
			</el-form-item>
		</el-form>
	</el-card>
</template></div>
<script>
//ajax库采用axios
//调试:打开浏览器控制台(F12),在代码中某行增加 debugger 即可调试
var vueData = {tableList : [{}],/*别删我*/
pageTotal : 100,/*别删我*/
currentPage : 1,/*别删我*/
input : "",/*别删我*/
slider : 0,/*别删我*/
rate : 0};
var vueMethod = {focus : function (e) {try {_t.fastKey.focusElem(e);}catch(e) {}},/*别删我*/
_tabClick : function(){setTimeout(function(){new McECharts().render();},200)}};
var vueMounted = function(){}
/*注意以上代码由系统维护,非专业人士请勿修改*/
var myMethod = {}
for (var key in myMethod) {
    vueMethod[key] = myMethod[key];
}
var myMounted = null
if(myMounted!==null){vueMounted=myMounted;}
var myData = {}
/*把您定义的数据覆盖布局器自动识别的变量,考虑到兼容性，请下载查看head中重写的assign方法*/
Object.assign(vueData, myData);
var _t = this;
var Ctor = Vue.extend({
    //提前绑定的变量
    data: function() {
        return vueData;
    },
    //页面加载完 会执行方法 可以做一些初始化操作
    mounted: vueMounted,
    /*当前页面绑定的方法集合 与布局器节点一一映射即可 参照element ui文档*/
    methods: vueMethod
});
new Ctor().$mount('#magicalDragScene');
//echarts自动初始化
new McECharts().render();

</script>
</body>

</html>